* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list img {
    background-color: red;
}
.filter-list {
    display: flex;
    list-style-type: none;
    cursor: pointer;
}
.filter-list .active {
    background-color: aqua;
}
.filter-list li {
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.card-product {
    width: calc(100% / 5 - 10px);
}
.card-product img {
    width: 100%;
}
